<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Author Page | <a href="/authors/add">Add</a>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>phone</th>
        <th>date of birthday</th>
        <th>gender</th>
    </tr>

    <tr th:each="author :${authors}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.name}"></td>
        <td th:text="${author.surname}"></td>
        <td th:text="${author.phone}"></td>
        <td th:text="${#dates.format(author.dateOfBirthday, 'dd-MM-yyyy')}"></td>
        <td th:text="${author.getGender().name()}"></td>
        <td><a th:href="@{/authors/edit(id=${author.id})}">Edit</a> | <a th:href="@{/authors/delete(id=${author.id})}">Delete</a> </td>
    </tr>
</table>
</body>

<th:block th:include="fragment/my-fragments::footer"></th:block>
</html>